---
import discografia from "../data/discografia"
import Layout from "../layouts/Layout.astro"
import { Image } from 'astro:assets';
import Puas from '../assets/puas-removebg.png';
---

<Layout title="Discografia 1994 - 2024">
    <div class="ml-10">
        <div class="flex justify-center items-center">
            <div class="flex justify-center items-center bg-amber-400 h-20 w-4/5 mb-5">
                <h1 class=" text-black text-5xl text-center">Discografia</h1>
            </div>
        </div>
        {
            discografia.map((disco) => (
                <div class="grid grid-cols-4 gap-8 p-8">
                    <div class="col-span-1">
                        <Image src={disco.img} alt={"portada de " + disco.album  } width="400" height="400"/>
                    </div>

                    <div class="col-span-3">
                    <p class="text-white">Titulo : {disco.album}</p> <br>
                    <p class="text-white">Año de Lanzamiento : {disco.year}</p> <br>
                    
                    <ol class="list-decimal">
                        <p class="text-white">Canciones : </p> <br>
                        {
                            disco.songs.map((song) => (
                                <li class="text-white font-cinzel">{song}</li>
                            ))
                        }
                    </ol><br>
                    <p class="text-white">Tocaron en esta grabación :</p> <br>
                    {
                      disco.lineup.map((lineup) => (
                        <p class="text-white font-cinzel">{lineup}</p>
                      ))
                    }
                    </div>
                    

                </div>
                    <br>
                    <div class="flex bg-repeat">
                        <Image src={Puas} alt="puas" width="300" height="300"/> <Image src={Puas} alt="puas" width="300" height="300"/><Image src={Puas} alt="puas" width="300" height="300"/> <Image src={Puas} alt="puas" width="280" height="300"/>
                    </div>
                    <br>

            ))
        }
    </div>
</Layout>