---
import discografia from "../data/discografia"
import Layout from "../layouts/Layout.astro"
import { Image } from 'astro:assets';
import Puas from '../assets/puas.png';
---

<Layout title="Discografia 1994 - 2024">
    <div class="ml-10">
        <h1 class="text-white text-5xl text-center mb-3">Discografia</h1>
        {
            discografia.map((disco) => (
                <div >
                    <p class="text-white">{disco.artist}</p>
                    <p class="text-white">{disco.album}</p>
                    <p class="text-white">{disco.year}</p>
                    <Image src={disco.img} alt="Logo Cangrena" width="300" height="300"/>
                    <ol class="list-decimal">
                        {
                            disco.songs.map((song) => (
                                <li class="text-white">{song}</li>
                            ))
                        }
                    </ol>
                    <div class="flex bg-repeat">
                        <Image src={Puas} alt="puas" width="300" height="300"/> <Image src={Puas} alt="puas" width="300" height="300"/><Image src={Puas} alt="puas" width="300" height="300"/> <Image src={Puas} alt="puas" width="280" height="300"/>
                    </div>
                </div>
            ))
        }
    </div>
</Layout>