---
import { SEO } from 'astro-seo';
import { Image } from 'astro:assets';
import Logo from '../assets/cangrena_logo_plata.png';
import Puas from '../assets/puas2.png';
import '@fontsource/cinzel-decorative';
---

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<SEO 
			title="Cangrena 1994 - 2024"
			description="Cangrena 1994 - 2024"
			openGraph={{
				basic: {
          			title: "Unoficial Cangrena 1994 - 2024",
          			type: "website",
          			image: "../assets/cangrena_logo.png",
        		}
      		}}
		/>
		<title>{title}</title>
	<body class="bg-stone-950">

		<div class="mx-auto">
			<div class="flex justify-center items-center bg-repeat">
				<Image src={Puas} alt="puas" width="300" height="300"/> <Image src={Puas} alt="puas" width="300" height="300"/>
			</div>
			<div class="flex justify-center items-center">
				<Image src={Logo} alt="Logo Cangrena" width="500"/>
			</div>
			<div class="flex justify-center items-center bg-repeat">
				<Image src={Puas} alt="puas" width="300" height="300"/> <Image src={Puas} alt="puas" width="300" height="300"/>
			</div>
		</div>
		<div class="flex justify-center items-center">
            <div class="flex justify-center items-center bg-amber-400 h-20 w-4/5 mb-5">
                <a href="/principal" class="sm: text-lg font-bold md:text-5xl text-black text-center  font-cinzel">Entrar</a>
            </div>
        </div>
	</body>
</html>

<style>
	body {
		background-image: url("../assets/sangre.png");
	}
</style>