---
import { Image } from 'astro:assets';
import Logo from '../assets/cangrena_logo_plata.png';
import Puas from '../assets/puas2.png';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Cangrena 1994 - 2024</title>
	</head>
	<body class="bg-stone-950">

		<div class="mx-auto">
			<div class="flex justify-center items-center bg-repeat">
				<Image src={Puas} alt="puas" width="300" height="300"/> <Image src={Puas} alt="puas" width="300" height="300"/><Image src={Puas} alt="puas" width="300" height="300"/> <Image src={Puas} alt="puas" width="280" height="300"/>
			</div>
			<div class="flex justify-center items-center">
				<Image src={Logo} alt="Logo Cangrena" width="500"/>
			</div>
			<div class="flex justify-center items-center bg-repeat">
				<Image src={Puas} alt="puas" width="300" height="300"/> <Image src={Puas} alt="puas" width="300" height="300"/><Image src={Puas} alt="puas" width="300" height="300"/> <Image src={Puas} alt="puas" width="280" height="300"/>
			</div>
		</div>
		<div class="text-center text-white">
			<a href="/principal"><span class="text-3xl">Entrar</span></a>
		</div>
	</body>
</html>

<style>
	body {
		background-image: url("../assets/sangre.png");
	}
</style>