---
import Layout from "../layouts/Layout.astro"
const posts = await Astro.glob('../pages/content/noticias/*.md');
---

<Layout title="Cangrena 1994 - 2024">

    <div class="flex justify-center items-center">
        <div class="sm: md:flex justify-center items-center bg-amber-400 h-20 w-4/5 mb-5">
            <h1 class="sm:text-sm md:text-black text-5xl text-center font-nosifer">Noticias</h1>
        </div>
    </div>


    <div class="flex justify-center items-center px-3">
        <div class="px-10">
            <ul>
                {posts.reverse().map(post => (
                    <li><a href={post.url}><h2 class="text-white text-xl text-bold font-cinzel">{post.frontmatter.title}</h2></a></li>
                    <li><span class="text-white font-cinzel text-base">{post.frontmatter.description}</span></li>
                    <li><a href={post.url}>{post.frontmatter.tittle} <span class="text-amber-400">Leer mas</span></a></li>
                    <br>
                ))}
            </ul>

        </div>


    </div>
    
</Layout>