---
interface Props {
	title: string;
}

const { title } = Astro.props;

import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import { SEO } from 'astro-seo';
import { Image } from 'astro:assets';
import  Cangrena  from '../assets/cangrena_logo_plata.png';
import Puas from '../assets/puas2.png';

const fechas = await Astro.glob('../pages/content/fechas/*.md');

//fonts

import '@fontsource/unifrakturcook';
import '@fontsource/cinzel-decorative';
import '@fontsource/unifrakturmaguntia';
import '@fontsource/creepster';
import '@fontsource/girassol';
import '@fontsource/nosifer';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<SEO 
			title="Cangrena 1994 - 2024"
			description="Cangrena 1994 - 2024"
			openGraph={{
				basic: {
          			title: "Unoficial Cangrena 1994 - 2024",
          			type: "website",
          			image: "../assets/cangrena_logo.png",
        		}
      		}}
		/>
		<title>{title}</title>
	</head>
	<body class="bg-stone-950 sm:grid grid-cols-1 md:grid-cols-12 gap-4">

		<div id="banner" class="col-span-12 row-span-12 justify-self-center">
			<div class="flex bg-repeat">
				<Image src={Puas} alt="puas" width="300" height="300"/> <Image src={Puas} alt="puas" width="300" height="300"/>
			</div>
			<div class="flex justify-center items-center">
				<Image src={Cangrena} alt="Logo Cangrena" width="500"/>
			</div>
			<div class="flex bg-repeat">
				<Image src={Puas} alt="puas" width="300" height="300"/> <Image src={Puas} alt="puas" width="300" height="300"/>
			</div>
		</div>
		
		<div id="navbar" class="col-span-1">
			<Navbar />
		</div>
		<div class="col-start-2 col-end-11">
			<slot />
		</div>
		<div class=" md:col-start-11 col-end-12 mx-2">
			<span class="text-white font-cinzel font-bold">Proximas Fechas</span>
			{
				fechas.map((fecha) => (
					<div><a href={fecha.url}>{fecha.frontmatter.bombre}
						<p class="text-white text-sm">{fecha.frontmatter.nombre}</p> 
						<img src={fecha.frontmatter.imagen} alt={fecha.frontmatter.nombre} width="200"><br><br>
					</a></div>
				))
			}
		</div>
		<div class="col-span-12 row-span-12 justify-self-center ">
			<div>
				<Footer />
			</div>
		</div>
	</body>
</html>

<style>
	:root {
		body {
			background-image: url("../assets/sangre.png");
		}

		p{
			font-family: 'Cinzel Decorative';
			font-size: 18px;
		}
	}
</style>

<script>
	const banner = document.getElementById("banner");

	window.addEventListener("scroll", function (){
		banner.style.transform = `translateY(-${window.scrollY}px)`;

	})

</script>

	